/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@media screen and (min-width: 320px) {
  .solution__bg {
    background-color: #f4f4f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .solution__title {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: #8d81ac;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 43px; }
  .solution__features {
    margin-top: 34px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .solution__features-block {
      margin-left: 15px;
      margin-right: 15px; }
    .solution__features__title {
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: #323232;
      font-family: "Montserrat", sans-serif;
      margin-top: 25px;
      text-align: center; }
    .solution__features__text {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: #848e97;
      font-family: "Lato", sans-serif;
      line-height: 23px;
      text-align: center;
      margin-top: 21px; }
  .solution__editor {
    background-image: url("../img/editor.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 320px;
    margin-top: 50px;
    margin-bottom: 10px; } }

@media screen and (min-width: 480px) {
  .solution__bg {
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align: initial;
    align-items: initial; }
  .solution__title {
    font-size: 42px; }
  .solution__features {
    margin-top: 45px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .solution__features-img {
      margin-left: 20px; }
    .solution__features-block {
      margin-left: 20px; }
    .solution__features__title {
      text-align: left;
      margin-top: 0; }
    .solution__features__text {
      text-align: left; }
  .solution__editor {
    height: 500px; } }

@media screen and (min-width: 768px) {
  .solution__editor {
    margin-bottom: 30px;
    max-height: 520px; } }

@media screen and (min-width: 1160px) {
  .solution__bg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'description title' 'description editor'; }
  .solution__title {
    grid-area: title; }
  .solution .a {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: description;
    display: grid;
    margin-bottom: 30px; }
  .solution__editor {
    grid-area: editor;
    margin-top: 30px; } }

.social__container {
  margin-bottom: 70px; }

.social__slick {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px; }
  .social__slick-left {
    margin-right: 15px;
    color: #a2a2a2;
    font-size: 20px;
    border-style: none;
    background-color: #fff; }
  .social__slick-right {
    margin-left: 15px;
    color: #a2a2a2;
    font-size: 20px;
    border-style: none;
    background-color: #fff; }
  .social__slick-person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .social__slick-person-block {
      width: 85px;
      height: 85px;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .social__slick-person__info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .social__slick-person__info-name {
        display: block;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        color: #474747;
        font-family: "Montserrat", sans-serif;
        margin-top: 25px; }
      .social__slick-person__info-nick {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        color: #8d81ac;
        font-family: "Montserrat", sans-serif;
        margin-top: 7px; }
  .social__slick__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .social__slick__info-feedback {
      font-size: 17px;
      font-weight: 400;
      font-style: normal;
      color: #333;
      font-family: "Lato", sans-serif;
      margin-top: 20px;
      line-height: 24px; }
    .social__slick__info-name {
      font-size: 17px;
      font-weight: 400;
      font-style: normal;
      color: #8d81ac;
      font-family: "Lato", sans-serif; }
    .social__slick__info-last-feedback {
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: #848e97;
      font-family: "Montserrat", sans-serif;
      margin-top: 15px; }

.social__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .social__info-git__link {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-family: "Montserrat", sans-serif;
    background-color: #f3f3f3;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 280px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    position: relative; }
  .social__info-git__link:hover {
    color: #fff;
    background-color: #273f4c; }
  .social__info-git__foll {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    display: block;
    text-align: center;
    margin-top: 18px; }
  .social__info-tw__link {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-color: #26a6d1;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    width: 280px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .social__info-tw__link:hover {
    color: #21a7d2;
    background-color: #fff;
    border: 1px solid #21a7d2; }
  .social__info-tw__foll {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    display: block;
    text-align: center;
    margin-top: 18px; }
  .social__info-fb__link {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-color: #3b5998;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    width: 280px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .social__info-fb__link:hover {
    color: #385899;
    background-color: #fff;
    border: 1px solid #385899; }
  .social__info-fb__foll {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    display: block;
    text-align: center;
    margin-top: 18px; }

.social .fa-github, .social .fa-twitter, .social .fa-facebook-f {
  position: absolute;
  left: 25px;
  top: 12px; }

@media screen and (min-width: 480px) {
  .social__slick-person {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .social__slick-person-block {
      margin-right: 25px; }
    .social__slick-person__info {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }

@media screen and (min-width: 768px) {
  .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .social__container {
      width: 768px; }
    .social__info {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .social__info-git__link, .social__info-tw__link, .social__info-fb__link {
        width: 260px; } }

@media screen and (min-width: 1160px) {
  .social__container {
    width: 1160px; } }

.callback {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .callback__title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #323232;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 285px;
    line-height: 34px; }
  .callback__form {
    margin-top: 25px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .callback__form-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .callback__form-inp {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 0 25px;
      margin-top: 15px;
      width: 290px;
      height: 42px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      border-style: none; }
    .callback__form-inp::-webkit-input-placeholder {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: #c8cbcf;
      font-family: "Montserrat", sans-serif; }
    .callback__form-inp:-ms-input-placeholder {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: #c8cbcf;
      font-family: "Montserrat", sans-serif; }
    .callback__form-inp::-ms-input-placeholder {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: #c8cbcf;
      font-family: "Montserrat", sans-serif; }
    .callback__form-inp::placeholder {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: #c8cbcf;
      font-family: "Montserrat", sans-serif; }
    .callback__form-btn {
      margin-top: 20px;
      padding: 15px 40px;
      -webkit-border-radius: 21px;
      border-radius: 21px;
      background-color: #8d81ac;
      border-style: none;
      text-transform: uppercase;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      color: #fff;
      font-family: "Montserrat", sans-serif; }
    .callback__form-btn:hover {
      background-color: #fff;
      color: #8d81ac;
      border: 1px solid #8d81ac; }

@media screen and (min-width: 480px) {
  .callback__title {
    width: 100%;
    font-size: 28px; }
  .callback__form {
    margin-bottom: 50px; } }

@media screen and (min-width: 768px) {
  .callback__title {
    font-size: 30px;
    color: #635c73; }
  .callback__form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .callback__form-block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
    .callback__form-inp {
      max-width: 335px; }
    .callback__form-inp:first-child {
      margin-right: 35px; } }

@media screen and (min-width: 1200px) {
  .callback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .callback__container {
      width: 1200px;
      margin-bottom: 55px;
      margin-top: 55px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .callback__title {
      margin-top: 0;
      text-align: left; }
    .callback__form {
      margin-top: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 0; }
      .callback__form-inp:first-child, .callback__form-inp {
        margin-right: 20px;
        margin-top: 0; }
      .callback__form-btn {
        padding-top: 14px;
        margin-top: 0;
        width: 145px;
        height: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }

.footer__container {
  margin-left: 18px;
  margin-right: 10px; }

.footer__logo {
  margin-top: 40px; }
  .footer__logo-img {
    display: none;
    background: url("../img/logoSprite.png") no-repeat;
    width: 43px;
    height: 42px;
    background-position: -10px -9px; }
  .footer__logo-title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
    .footer__logo-title span {
      color: #8d81ac; }
  .footer__logo-info {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    margin-top: 36px;
    line-height: 21px;
    width: 260px; }

.footer__menu-nav {
  margin-top: 36px; }
  .footer__menu-nav__title {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #323232;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 23px; }
  .footer__menu-nav__link {
    margin-top: 10px; }
  .footer__menu-nav__link a {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #8d81ac;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; }

.footer__requisites-phone {
  margin-top: 36px; }
  .footer__requisites-phone-link {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: #31384d;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; }
  .footer__requisites-phone-info {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-top: 15px; }

.footer__requisites-location {
  margin-top: 36px; }
  .footer__requisites-location-city {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #323232;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px; }
  .footer__requisites-location-address {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    display: block; }

.footer__info {
  margin-top: 36px; }
  .footer__info-title {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #323232;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 25px; }
  .footer__info-text {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #848e97;
    font-family: "Montserrat", sans-serif;
    line-height: 23px;
    margin-bottom: 15px; }

@media screen and (min-width: 480px) {
  .footer__container {
    margin-left: 35px; }
  .footer__logo-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__logo-img {
    display: block;
    margin-right: 18px; } }

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px; }
    .footer__container__block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
  .footer__logo-info {
    width: 310px;
    margin-right: 90px; }
  .footer__requisites {
    width: 310px;
    margin-right: 90px; }
  .footer__info {
    width: 300px; } }

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer__container {
      width: 1200px;
      margin-right: 0;
      margin-left: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer__container__block {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .footer__logo-block:hover h2 {
      color: #8d81ac; }
    .footer__logo-block:hover span {
      color: #323232; }
    .footer__logo-block:hover .footer__logo-img {
      background-position: -73px -9px; }
    .footer__menu-nav {
      margin-top: 40px; }
      .footer__menu-nav__link a:hover {
        border-bottom: 1px solid #8d81ac; }
    .footer__logo-info {
      margin-right: 50px; }
    .footer__requisites {
      width: 225px; }
    .footer__info {
      margin-top: 40px; } }
