@import "export/variables";
@import "export/mixins";
@import "export/reset";
@import "export/header";
@import "export/revo-edit";
@import "export/solution";
@import "export/social";
@import "export/testimonials";
@import "export/pricing";
@import "export/callback";
@import "export/footer";

.container {
  width: 300px;
  margin: 0 auto;
}
@include media(480px) {
  .container {
    width: 460px;
  }
}
@include media(768px) {
  .container {
    width: 728px;
  }
}
@include media(1200px) {
  .container {
    width: 1200px;
  }
}
.btn-hover:hover {
  //box-sizing: border-box;
  background-color: #fff;
  color: #8d81ac;
  border: 1px solid #8d81ac;
}